site_name: Agentic-Context-Engineering
repo_url: https://github.com/EgeCankaya/Agentic-Context-Engineering
site_url: https://EgeCankaya.github.io/Agentic-Context-Engineering
site_description: Agentic Context Engineering (ACE) — Evolving Contexts for Self-Improving Language Models
site_author: Egemen Çankaya
edit_uri: edit/main/docs/
repo_name: EgeCankaya/Agentic-Context-Engineering
copyright: Maintained by <a href="https://EgeCankaya.com">EgeCankaya</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["agentic_context_engineering"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/EgeCankaya/Agentic-Context-Engineering
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/Agentic-Context-Engineering

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
